InfoProvider.Web/InfoProvider.Webs/Service References/ServiceReference1/InfoProviderCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfoProviderCenter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.3.107:8000/InfoProviderCenter?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.3.107:8000/InfoProviderCenter?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.3.107:8000/InfoProviderCenter?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.InfoProvider.Center.Objects" />
      <xsd:import schemaLocation="http://192.168.3.107:8000/InfoProviderCenter?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.InfoProvider.ObjectModel.RMSObjects" />
      <xsd:import schemaLocation="http://192.168.3.107:8000/InfoProviderCenter?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.InfoProvider.ObjectModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInfoProviderCenter_GetAgents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgents" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_GetAgents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_GetUpdateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateTime" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_GetUpdateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_SetUpdateTimeInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUpdateTimeInterval" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_SetUpdateTimeInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUpdateTimeIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_UpdateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepository" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_UpdateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_GetCertificatePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatePath" />
  </wsdl:message>
  <wsdl:message name="IInfoProviderCenter_GetCertificatePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatePathResponse" />
  </wsdl:message>
  <wsdl:portType name="IInfoProviderCenter">
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetAgents" message="tns:IInfoProviderCenter_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetAgentsResponse" message="tns:IInfoProviderCenter_GetAgents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetUpdateTime" message="tns:IInfoProviderCenter_GetUpdateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetUpdateTimeResponse" message="tns:IInfoProviderCenter_GetUpdateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUpdateTimeInterval">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoProviderCenter/SetUpdateTimeInterval" message="tns:IInfoProviderCenter_SetUpdateTimeInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoProviderCenter/SetUpdateTimeIntervalResponse" message="tns:IInfoProviderCenter_SetUpdateTimeInterval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoProviderCenter/UpdateRepository" message="tns:IInfoProviderCenter_UpdateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoProviderCenter/UpdateRepositoryResponse" message="tns:IInfoProviderCenter_UpdateRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificatePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetCertificatePath" message="tns:IInfoProviderCenter_GetCertificatePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoProviderCenter/GetCertificatePathResponse" message="tns:IInfoProviderCenter_GetCertificatePath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Configuration" type="tns:IInfoProviderCenter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgents">
      <soap:operation soapAction="http://tempuri.org/IInfoProviderCenter/GetAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateTime">
      <soap:operation soapAction="http://tempuri.org/IInfoProviderCenter/GetUpdateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateTimeInterval">
      <soap:operation soapAction="http://tempuri.org/IInfoProviderCenter/SetUpdateTimeInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <soap:operation soapAction="http://tempuri.org/IInfoProviderCenter/UpdateRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificatePath">
      <soap:operation soapAction="http://tempuri.org/IInfoProviderCenter/GetCertificatePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoProviderCenter">
    <wsdl:port name="Configuration" binding="tns:Configuration">
      <soap:address location="http://192.168.3.107:8000/InfoProviderCenter" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>